html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lucida Casaul', 'Comic Sans MS';
}

.navbar-img {
  width: 30px;
  height: 35px;
  float: left;
  background-size: auto 100%;
  margin-top: -5px;
  margin-right: 5px;
}

.gallery {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery .img-thumbnail {
  height: 250px;
  width: 300px;
}
