<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{% url 'post_list' %}">AV's Blog</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

    <form class="form-inline my-2 my-lg-0" action='{% url 'post_list' %}'>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='q'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </ul>
  <ul class="navbar-nav">
    {% if request.user.is_authenticated %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if request.user.profile.photo %}
          <img src="{{ request.user.profile.photo.url }}" alt="" class="navbar-img">
        {% else %}
          <img src="/media/default-avatar.png" alt="" class="navbar-img">
        {% endif %}
        <span>Hi {{ request.user|capfirst }}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'blog:edit_profile' %}">My Profile</a>
        <a class="dropdown-item" href="{% url 'blog:post_create' %}">Post Create</a>
        <a class="dropdown-item" href="{% url 'blog:post_favourite_list' %}">Favourite</a>
        <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a href="{% url 'user_login' %}" class="nav-link">Login</a>
    </li>
    {% endif %}
  </ul>

</div>
</nav>
